
.devtools-model-view {}

.devtools-model-view__name {
  color: var(--color-text);
}

.devtools-model-view__description {
  color: var(--color-text-subtle);
}

.devtools-model-view__status {
  display: inline-block;
  padding: 0 0.4em;
  color: var(--ctp-mocha-crust-oklch);
  border-radius: 4px;
  margin-left: 1em;
  &.stopped {
    background-color: gray;
  }
  &.idle {
    background-color: gray;
  }
  &.active {
    background-color: var(--ctp-mocha-green-oklch);
  }
  &.error {
    background-color: var(--ctp-mocha-red-oklch);
  }
  &.done {
    background-color: var(--ctp-mocha-mauve-oklch);
  }
}

.state-tree {
  font-family: var(--font-mono);
  white-space: pre;
  overflow-x: auto;
  margin: 0.4rem 0 1rem -0.11rem;
}
.state-tree__guide {
  color: var(--ctp-mocha-subtext0-oklch);
}
.state-tree__node,
.state-tree__guide {
  color: oklch(from var(--ctp-mocha-subtext0-oklch) l c h / 0.9 );
  &.active {
    color: var(--ctp-mocha-green-oklch);
  }
}